body{
	position: relative;
	font-size: 17px;
	margin: 20px;	
}
.header{
	padding: 10px;
	border: 2px solid rgb(0, 0, 0);
	width: 70%;
}
.header h1{
	margin: 0;
}
.header p{
	display: inline;
	margin: 8px 10px;
	float: left;
}
#map{
	height: 485px;
	width: 71%;	
	margin-top: 10px;
	float: left;
}
.topSideBar{
	float: right;
	width: 26%;
	border: 2px solid rgb(0, 0, 0);	
	padding-left: 0.3%;
}
.sidebar{
	width: 26%;
	float: right;
	border: 2px solid rgb(0, 0, 0);	
	padding-left: 0.3%;
	margin-top: 0.5%;
}
.sidebar p{
	border: 1px solid rgb(0, 0, 0);	
	border-radius: 10px;
	padding: 14px;
	padding-left: 55px;
	margin: 4px;
	font-size: 24px;
	position: relative;
	margin-bottom: 14px;
}
.sidebar p::before {
	content: '\f2bd';
	position: absolute;
	font-family: 'font-awesome';
	left: 6px;
	top: 8px;
	font-size: 40px;
}
.sidebar span{
	font-size: 24px;
	margin-top: 15px;
	font-weight: 600;
}
@font-face {
	font-family: "font-awesome";
	src: url("../webfonts/fa-regular-400.woff") format("truetype");
	font-style: normal;
	font-weight: normal;
}
